<div id="deleteModal" class="modal">
    <div class="modal-content">
         <h2>Delete Role</h2>
         <p id="deleteMessage">You’re going to delete this Role. Are you sure?</p>
            <div class="actions">
                  <button class="btn btn-primary" onclick="closeDeleteModal()">No, Keep it</button>
                  <button class="btn btn-danger" id="confirmDeleteBtn">Yes, Delete!</button>
            </div>
    </div>
</div>

